# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code specific files
.vscode/
*.code-workspace

# PyCharm specific files
.idea/

# Pytest cache
.cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.env
.env.*
*.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# FastAPI-related
static/
media/